*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
}

main{

    width: 37.5rem;
    margin: 0 auto;
    /* height: 100%; */
    height: 100vh;
    text-align: center;
}

.result-box{
    background:linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    padding: 3.2rem 0 0 0;
}

.result{
    margin: 0 auto;
    padding: 2rem 0 4rem 0;
}

.your-result{
    color: hsla(221, 100%, 96%,0.6);
    margin-bottom: 2.4rem;
    font-weight: 500;
}

.score{
    position: relative;
    margin-bottom: 3rem;
z-index:1;
margin-top: 4rem;
margin-bottom: 4.8rem;
}
.score::after{
    content: "";
    display: inline-block;
    width: 14rem;
    height: 14rem;
    background: red;
    border-radius: 50%;
    z-index:-1;
position:absolute;
top: -20%;
left:32%;
background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}

.your-score{
    color: hsla(0, 0%, 100%,0.9);
    font-weight: 500;
    font-size:5.2rem;
    margin-bottom: 0.4rem;
}
.total-score{
    color: hsl(221, 100%, 96%,0.4);
}

.critic{
    font-size: 2.4rem;
    font-weight: 600;
    color: hsla(0, 0%, 100%,0.8);
    margin-bottom: 1.6rem;
}
.review-box .review{
    color: hsla(241, 100%, 89%,0.5);
    padding: 0 1.2rem;
}



.summary-box{
    padding: 2rem;
    
}

.summary{
    padding: 2rem ;
}

.single-score-box{
padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}


.summary{
    color: hsla(224, 30%, 27%,1);
    font-weight: 500;
    text-align: left;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reaction-score-box{
    background-color: hsl(0, 100%, 67%,0.1);
    border-radius: 5%;
}

.memory-score-box{
background-color: hsl(39, 100%, 56%,0.1);
border-radius: 5%;
}

.Verbal-score-box{
background-color: hsl(166, 100%, 37%,0.1);
border-radius: 5%;
}

.visual-score-box{
background-color: hsl(234, 85%, 45%,0.1);
border-radius: 5%;
}

.small-pad{
    padding: 2rem;
}
.small-gap{
    gap: 1rem;
}

.reaction{
    color: hsl(0, 100%, 67%,1);
}

.memory{
color:hsl(39, 100%, 56%,1);
}

.verbal{

}

.visual{
    color:hsl(234, 85%, 45%,1) ;
}

.footer-box{
    margin-top: 10rem;
    background-color: red;
    padding: 2rem 4rem;
     border-radius: 2rem;
     background-color: hsl(224, 30%, 27%);
}
.footer-box a{
    color: white;
    text-decoration: none;
}


@media(max-width:144rem){
    main{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: repeat(4,1fr);
        width: 100%;
        margin: 10rem auto;
    }
    .result-box{
       grid-column: 3/6;
       display: flex;
       flex-direction: column;
       border-radius: 10%;
    }
    .result{
        padding: 5rem  0;
    }
    .summary-box{
        grid-column: 6/9;
    }


    .score::after{
    left:33%;
    top: -22%;
}

.footer-box{
    margin-top: 4rem;
}

}